{{ define "widget_us_dark" }}
  <div style="margin-top: 1.5rem;">
  <a
    href="https://script.fly.dev"
    style="
      display: block;
      background-color: #1a202c;
      border-radius: 0.5rem;
      width: 16rem;
      font-size: 0.875rem;
      border: 1px solid #dc2626;"
  >
    <div style="padding: 0.5rem; display: flex; gap: 0.75rem; align-items: center;">
      <div>
        <img src="https://script.fly.dev/assets/images/logo.png" style="width: 3rem;">
      </div>
      <div style="display: flex; flex-direction: column; gap: 0.25rem; text-align: center; width: 100%;">
        <div>
          listed on script.fly.dev
        </div>
        <div style="color: #f7fafc; font-family: monospace;">
          rank #5
        </div>
      </div>
    </div>
  </a>
</div>
{{ end }}
